@import url("./../../App.css");

.projects {
  color: var(--color-primary);
  padding: 3vh;
  padding-top: 7.33rem;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-container {
  padding: 5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 6rem;
  justify-content: space-evenly;
  align-items: flex-start;
}
