@import url("./../../../App.css");

.about-title {
  padding-top: 4rem;
  display: flex;
  font-size: 7vh;
  font-weight: 700;
}

.fade {
  width: 30%;
}

.about-img {
  max-width: 300px;
  border-radius: 1rem 10rem;
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.about-columns {
  flex-wrap: wrap;
  column-gap: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  text-align: left;
  justify-content: center;
}

.about-col-two {
  width: 50%;
}

.about-first {
  font-weight: 700;
  font-size: 4vh;
}

.about-second {
  font-weight: 500;
  font-size: 3vh;
}

.lighter {
  color: var(--color-secondary);
  text-decoration: underline dotted;
}

@media (max-width: 1140px) {
  .about-columns {
  }
  .about-col-two {
    width: 70%;
  }
  .about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}

@media (max-width: 540px) {
  .fade {
    width: 100%;
  }
  .about-col-two {
    width: 100%;
  }
  .about-img {
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .about-first {
    font-size: 3vh;
  }

  .about-second {
    font-size: 2vh;
  }
}
