@import url("./../../App.css");

li {
  list-style: none;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: all ease-in-out 0.3s;
  padding: 0.7rem;
}
.navbar li a:hover {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 2rem;
}

.logo-anchor {
  display: flex;
  height: fit-content;
  padding: 0 1rem;
}

.logo-anchor:hover {
  transform: scale(0.95);
  filter: opacity(0.7);
}

.brand {
  width: 70px;
  border-radius: 0.5rem;
  pointer-events: none;
}

.navbar-container {
  position: fixed;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.5rem;
  overflow: hidden;
  padding: 0 10%;
  height: max-content;
  position: fixed;
  z-index: 3;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0rem;
  border-radius: 1rem;
  position: relative;
  z-index: 3;
  backdrop-filter: blur(4px);
  transition: all ease-in-out 0.5s;
  background-color: var(--color-white-background);
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.links a.active {
  background-color: var(--color-green-hover);
  border-radius: 1rem;
}

.navbar .toggle-btn {
  display: none;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.action-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  background: radial-gradient(
    circle at center,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary)
  );
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 12s ease-in-out infinite;
  margin: 0 1rem;
}

.action-btn:hover {
  transform: scale(1.1);
}

.action-btn:active {
  scale: 0.95;
}

.dropdown-menu {
  display: none;
  position: relative;
  height: 0;
  width: 300px;
  background-color: var(--color-white-background);
  border-radius: 1rem;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  backdrop-filter: blur(2px);
}

.dropdown-menu.open {
  height: fit-content;
}

.dropdown-menu li a {
  height: 100%;
  padding: 0.7rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu li:hover {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 1rem;
}

.dropdown-menu li a.active {
  background-color: var(--color-green-hover);
  border-radius: 1rem;
}

.dropdown-menu .action-btn {
  display: flex;
  justify-content: center;
  margin: 0.5rem 2rem 0.5rem;
  align-items: center;
}

@media (max-width: 992px) {
  a {
    padding: 0;
    font-size: 1rem;
  }
  .navbar .links,
  .navbar .action-btn {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    width: 100%;
  }
}
