@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:wght@100;300;400;500;600;700&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-primary: #023e8a;
  --color-secondary: #05bee3;
  --color-tertiary: #64e0f9;
  --color-quaternary: #9bf0ff;
  --color-quinary: #ade8f4;
  --color-senary: #e7f8fb;
  --color-white-background: #3873c093;
  --color-green-hover: #023d8a87;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.5rem;
}
::-webkit-scrollbar-button {
  height: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  border-radius: 2rem;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

#root {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

body {
  background: var(--color-senary);
  color: var(--color-primary);
  overflow-x: hidden;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
